@font-face {
   font-family: Raleway;
   src: url('../fonts/raleway/raleway_thin-webfont.woff');
}

@font-face {
  font-family: Stalemate;
  src: url('../fonts/stalemate/stalemate-regular.ttf');
}

body {
  font-family: sans-serif;
}

.title {
  font-family: Stalemate;
  font-size: 800%;
  color: teal;
  margin: auto;
  text-align: center;
}

.pure-form button {
  background: teal;
  color: #fff;
}

.inner {
  padding: 5px;
}

@media only screen and (max-width: 400px) {
  .title { font-size: 400%; };
}
