@font-face {
     font-family: Raleway;
     src: url('../fonts/raleway/raleway_thin-webfont.woff');
 }

 body {
  font-family: sans-serif;
 }

#container {
  padding: 5px;
  font-family: Raleway;
}

.heading {
  padding: 5px;
  margin-top: -15px;
  font-weight: 400;
  padding: 0px;
}

.heading h1, h2, h3 {
  font-family: Raleway;
  border-bottom: 1px solid #eee;
  padding-left: 5px;
  padding-bottom: 10px;
}

.bold {
  font-weight: bolder;
  text-shadow: none;
 }

.section {
  background-color: #cd853f;
  color: #fff;
 }

.inner-column {
  padding: 5px;
 }

.error {
  color: maroon;
  font-size: 12px;
 }

.small-form {
  font-weight: 200;
  font-size: 14px;
}

.inverted-orange {
  color: #f4a475;
}

.orange {
  background-color: #f4a475;
  color: #fff;
}

.text-small {
  font-size: 12px;
}

a {
  text-decoration: none;
}