<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />

        <rule name="Excluded Paths" stopProcessing="true">
          <match url="(css/.*|fonts/.*|images/.*|js/.*|partials/.*)" />
          <action type="None" />
        </rule>

        <rule name="Routed Path" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>